body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,pre,form,table,form,input,textarea,select{
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-text-size-adjust:100%;/*禁止用户设置字体大小*/
    -webkit-user-select:none;/*禁止文字选中*/
}
ul,ol,li{
    list-style: none;
}
i{
    font-style: normal;
}
body{
    background-color: #DDDDDD;
    line-height: 1.5;
    font-size: 16px;
    color: #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
img{
     width: 100%;
     height: 100%;
 }
a,input,button{
    -webkit-tap-highlight-color:transparent;
    -webkit-appearance: none;
}